.inner{
	
}

body{
	background-color: #999999;
}

.subsList{
	overflow-y:auto;
	height: 100px;
}

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 199px;
    overflow-y: auto;
}


tbody td, thead th {
    width: 50%;
    float: left;
}
td{
	overflow-x: auto;
}