h1{
	color: white;
}
#cover{
	background-color:  red;
	width: 500px;
	height: 300px;
	border: 5px solid black;
	margin:0 auto;
	margin-top: 8%;
	color: white;
}

body{
	background-color: #999999;
}
#inputCover{
	margin: 0 auto;
}
input{
	color: black;
}